<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ecell.internshipfairendeavour">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternshipFairECell">
        <activity android:name=".Admin.Student_detail_status"></activity>
        <activity android:name=".Admin.Student_Accept" />
        <activity android:name=".Check_Act" />
        <activity android:name=".Thankyou_Act" />
        <activity
            android:name=".Splash_Activity"
            android:theme="@style/Theme.InternshipSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Admin.Dashboard_Admin" />
        <activity
            android:name=".Admin.Email_sendpopupAdmin"
            android:theme="@style/Theme.InternshipPopup" />
        <activity android:name=".Admin.Profiles_Fragment" />
        <activity android:name=".Admin.FragThree" />
        <activity android:name=".Admin.Intern_Fragment" />
        <activity
            android:name=".Employe.Profile_activity1"
            android:theme="@style/Theme.InternshipPopup" />
        <activity
            android:name=".Employe.Profile_activity2"
            android:theme="@style/Theme.InternshipPopup" />
        <activity android:name=".Admin.Student_Fragment_Detail" />
        <activity
            android:name=".Employe.Profile_activity3"
            android:theme="@style/Theme.InternshipPopup" />
        <activity
            android:name=".Employe.Profile_activity4"
            android:theme="@style/Theme.InternshipPopup" />
        <activity android:name=".Admin.AdminWorkArrow" />
        <activity android:name=".Admin.Application_detailAdmin" />
        <activity
            android:name=".Employe.Application_Proceed"
            android:theme="@style/Theme.InternshipPopup" />
        <activity android:name=".Admin.InternDetail_admin" />
        <activity android:name=".Internship.InternDetail" />
        <activity android:name=".MyDashboard.InternForm" />
        <activity android:name=".Admin.Edit_Internship" />
        <activity android:name=".Internship.ApplyIntern" />
        <activity android:name=".Reg_Student" />
        <activity android:name=".Dashboard_Student" />
        <activity android:name=".Login_Student" />
        <activity android:name=".Login_Employe" />
        <activity android:name=".Admin.Login_Admin" />
        <activity android:name=".Studentdetail" />
        <activity android:name=".Employe.Student_detail_emp" />
        <activity
            android:name=".Change_Pass"
            android:theme="@style/Theme.InternshipPopup" />
        <activity
            android:name=".Contact_Us"
            android:theme="@style/Theme.InternshipPopup" />
        <activity android:name=".Employe.edit_prof_emp" />
        <activity android:name=".Employe.Dashboard_emp" />
        <activity android:name=".Admin.Student_Profile" />
        <activity android:name=".Notifications.Notifications" />
        <activity android:name=".profile.Edit_profile" />
        <activity
            android:name=".profile.Profile_activity1"
            android:theme="@style/Theme.InternshipPopup" />
        <activity android:name=".Employe.Employe_detail" />
        <activity android:name=".Employe.Application_detail" />
        <activity
            android:name=".Employe.Email_sendpopup"
            android:theme="@style/Theme.InternshipPopup" />
        <activity
            android:name=".profile.Profile_activity2"
            android:theme="@style/Theme.InternshipPopup" />
        <activity android:name=".Employe.Employe_profile" />
        <activity
            android:name=".profile.Profile_activity3"
            android:theme="@style/Theme.InternshipPopup" />
        <activity
            android:name=".profile.Profile_activity4"
            android:theme="@style/Theme.InternshipPopup" />
        <activity android:name=".IntroActivity" />
        <activity android:name=".Employe.Reg_Employe" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>